:root{
    --my-black: #0a0a0a;
    --my-blue: #0f9c05;
    --my-lightter-black: #1d1f20;
    --my-light: #282a2c;
    --my-highlited: rgb(46, 49, 49);
    --my-gray: rgb(69, 73, 72);
    --my-white: #d7e0d5;
    --my-red: #dd2163;
}
*{
    color: var(--my-white);
    font-family: "Comfortaa", sans-serif;
}
body{
    background-color: var(--my-black);
}
.selected{
    opacity: 0.5;
}
.authForm{
    width: 600px; height: 460px;
    margin: auto;
}
input{
    width: 100%;
    background-color: var(--my-lightter-black);
    border: none;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    font-size: 2.5vh;
    margin-right: 5px;
    padding: 10px;
    outline: none;
    transition-duration: 0.3s;
}
input:focus{
    background-color: var(--my-highlited);
}
label{
    font-size: 25px;
}
h1{
    color: var(--my-white);
}
#buttonAuth, #buttonReg{
    background-color: var(--my-blue);
    font-size: 25px;
}
.left , .right{
    width: 100%; height: 40vh;
    background-color: var(--my-lightter-black);
    border-radius: 10px;
    align-content: start;
    margin-bottom: 20px;
}
.bottom{
    height: 30vh;
    overflow-y: scroll;
    scrollbar-color: var(--my-black) var(--my-light);
}
.delete{
    background-color: red;
    border-radius: 100%;
    height: 40px; width: 40px;
    text-align: center;
    line-height: 1px;
}
.edit{
    background-color: rgb(48, 169, 12);
    border-radius: 100%;
    height: 40px; width: 40px;
    text-align: center;
    line-height: 1px;
    border: none;
}
.my-page-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top{
    font-size: 2.5vh;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: var(--my-blue);
    border-radius: 10px 10px 0 0;
    color: var(--my-white);
}
.my-page-block{
    height: 50px;
    color: var(--my-white);
    font-size: 2.5vh;
    transition-duration: 0.3s;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    cursor: grab;
    background-color: var(--my-light);
    line-height: 50px;
}
.insert{
    margin-top: 50px;
    width: auto; height: 80vh;
    background-color: var(--my-lightter-black);
    border-radius: 10px;
}
.top-insert{
    height: 50px;
    background-color: var(--my-blue);
    border-radius: 10px 10px 0 0;
    color: var(--my-white);
}
.top-insert>p{
    font-size: 3vh;
}
.bottom-insert>form{
    width: 100%;
}
.bottom-insert>form>input{
    margin: auto;
    color: var(--my-white);
    background-color: var(--my-light);
    width: 90%; height: 6vh;
}
.bottom-insert>form>label{
    line-height: 50px;
    text-align: center;
    margin: 20px auto;
}
.bottom-insert>form>input:focus{
    background-color: var(--my-highlited);
}
#btn{
    background-color: var(--my-blue);
    width: 50%; height: 6vh;
    border-radius: 50px;
    margin-top: 40px;
}
.invisible{
    display: none;
}
.bottom{
    background-color: var(--my-lightter-black);
}
.my-margin{
    height: 20px;
    margin-bottom: 20px;
}
.my-header{
    background: linear-gradient(var(--my-black) 10%, rgba(0,0,0,0));
}
span{
    color: var(--my-gray);
}
.dragging{
    opacity: 0.5;
}
.space{
    background: url('../images/hacker.gif') no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}
.message{
    width: 100%; height: 70px;
}
.message > h3{
    text-align: center;
    color: var(--my-red);
    line-height: 50px;
}
.passwordCtrl{
    top: 13px; left: 550px;
    display: block;
    width: 30px; height: 30px;
    background: url('../images/show.png') 0 0 no-repeat;
    background-size: contain;
    background-position: 95%;
}
.view{
    background: url('../images/hide.png') 0 0 no-repeat;
    background-size: contain;
    background-position: 95%;
}

/*MODAL*/

.modal-bg-visible{
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition-duration: .3s;
    z-index: 98;
}
.modal-body{
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition-duration: .15s;
}
.modal-window-reg, .modal-window-auth{
    top: 17%; left: 31%;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    border: 1px solid var(--my-blue);
    width: 800px; height: 650px;
}
.modal-top{
    width: 100%;
    display: flex;
    justify-content: end;
}
.modal-middle{
    width: 100%; height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.modal-description{
    height: 90%; width: 50%;
}
.modal-active{
    visibility: visible;
    transform: scale(1);
}
.modal-inactive{
    visibility: hidden;
    transform: scaleY(0) skew(-10deg);
}
.modal-active .modal-window{
    transform: scaleY(1);
    opacity: 1;
}
.modal-close-btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--my-white);
    font-size: 30px;
    margin-right: 10px;
}